<div class="container">
  <h3>Search a city</h3>
  <input (keyup)="searchCountries($event)" class="search" placeholder="Search country" type="text">
  <ng-container *ngIf="countryInfo !== undefined" >
    <h5 >{{countryInfo.flag}} {{countryInfo.name}}</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Capital</th>
          <th>Continent</th>
          <th>Language</th>
          <th>Independence</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td>{{countryInfo.capital}}</td>
         <td>{{countryInfo.continent}}</td>
         <td>{{countryInfo.language}}</td>
         <td>{{countryInfo.independent}}</td>
    </tr>
  </tbody>
    </table>
  </ng-container>

</div>
