<div class="wrap">
  <div class="search-wrap">
    <div class="country">
      <h3>Search a country</h3>
      <input (keyup)="searchCountries($event)" class="search" placeholder="Search country" type="text">
      <div class="country-list">
        <ul *ngFor="let country of countryList; let i = index;">
          <li (click)="countrySelected(i)">{{country}}</li>
        </ul>
      </div>
    </div>
    <div class="details">
      <h5>{{countryInfo?.flag}} {{countryInfo?.name}}</h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let item of countryInfo | keyvalue"> {{item.key | titlecase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let item of countryInfo | keyvalue"> {{item.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>