<div class="container">
  <h3>Search a city</h3>
  <div class="search">search here</div>
  <ng-container *ngIf="cityInfo !== undefined" >
    <h5 >{{cityInfo.flag}} {{cityInfo.name}}</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Capital</th>
          <th>Continent</th>
          <th>Language</th>
          <th>Independence</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td>{{cityInfo.capital}}</td>
         <td>{{cityInfo.continent}}</td>
         <td>{{cityInfo.language}}</td>
         <td>{{cityInfo.independent}}</td>
    </tr>
  </tbody>
    </table>
  </ng-container>

</div>
